{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Farlhefe</title>
	<link rel="stylesheet" type="text/css" href="{% static 'farlhefe/style.css' %}">
</head>
<body>
	<h1>Farlhefe</h1>

	<h2>Meals</h2>

	{% if meals %}
	<table>
		<tr>
			<th>Date</th>
			<th>Duration (s)</th>
			<th>Quantity (g)</th>
		</tr>
		{% for meal in meals %}
		<tr>
			<td>{{ meal.date }}</td>
			<td>{{ meal.duration_in_seconds }}</td>
			<td>{{ meal.quantity }}</td>
		</tr>
		{% endfor %}
	</table>
	{% else %}
	<p>There have been no meals.</p>
	{% endif %}
</body>
</html>
